{% extends "personal/header.html" %}

{% block content %}
<h2>Hi there! On my blog, I try to give you an inside in my life as a Technical University student, traveler and human being.</h2><p>I will post blogs about my daily life, random thoughts or concerns, interesting news flashes and basically just anything that pops up in my brain that I feel worth sharing. My aim is to post daily, but since being a university student takes quite a lot of work and time, I cannot promise this entirely. Anyways, I hope you will enjoy my rambling and perhaps even get something out of my blogs for yourself!</p><p>Last but not least: as we all know, money is extremely important. Therefore, I thought it would be cool to include a REST API with which you can view all sorts of stocks, yay!</p><h4>Stay tuned!</h4>
{% include "personal/includes/htmlsnippet.html" %}
{% endblock %}